:host {
  display: block;
}

.mat-card {
  border-radius: 0.25rem;
  margin-bottom: 1.5rem;
  box-shadow: 0 0 1rem #e8eef2;
}

.mat-card:hover {
  box-shadow: 0 0 3rem #c7d3dd;
}

.mat-card-title {
  color: #1a659e;
}

.mat-card-subtitle {
  margin-top: 1rem !important;
}

mat-divider {
  display: block;
  height: 1px;
  background: #9db4c0;
}

.mat-card-content {
  display: block;

  margin: 1rem;
  padding: 0.5rem;
  width: calc(100% - 3rem);

  color: #e8eef2;
}

.mat-card-content > div {
  background-color: #829cbc;
  padding: 0.8rem;
}

.mat-card-content .direct-reports-list {
  background-color: #82a6b1;
}
