<mat-card class="employee">
  <mat-card-header>
    <mat-card-title
      >{{ employee.firstName }} {{ employee.lastName }},
      {{ employee.position }}</mat-card-title
    >
    <mat-card-subtitle
      >Employee ID: {{ employee.id }}, Direct Report:
      {{ employee.directReports?.length || 0 }}</mat-card-subtitle
    >
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>
    <div>Direct Reports</div>
    <div class="direct-reports-list">
      <div *ngIf="directReports?.length > 0; else elseBlock">
        <div class="direct-reports-list-item" *ngFor="let emp of directReports">
          <div style="font-weight: bold;">
            {{ emp.firstName }} {{ emp.lastName }},
            {{ emp.position }}
          </div>
          <div class="button-container">
            <mat-icon
              aria-hidden="false"
              aria-label="edit icon"
              matTooltip="Edit employee record"
              >edit</mat-icon
            >
            <mat-icon
              aria-hidden="false"
              aria-label="delete icon"
              matTooltip="Delete employee record"
              >delete</mat-icon
            >
          </div>
        </div>
      </div>
      <ng-template #elseBlock>This employee has no reports</ng-template>
    </div>
    <!-- </div> -->
  </mat-card-content>
</mat-card>
